.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 6rem;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.75rem;
}

.spinner {
  width: 4rem;
  height: 4rem;
  border: 3px solid var(--color-gray-500);
  border-top-color: var(--color-yellow-600);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.text {
  font-size: 1.25rem;
  color: var(--color-gray-400);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
