.section {
  position: relative;
  width: 100%;
  min-height: 30rem;
  padding: 1.5rem;
  box-shadow: 0 8px 24px -12px hsl(220 60% 2% / 0.6);
  border-radius: 1rem;
  border: 1px solid var(--card-background);
  background-color: var(--container-background);
}

.title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  gap: 1rem;
  align-items: stretch;

  @media (max-width: 980px) {
    grid-template-columns: repeat(2, minmax(10rem, 1fr));
  }

  @media (max-width: 640px) {
    grid-template-columns: repeat(1, minmax(10rem, 1fr));
  }
}
