.section {
  position: relative;

  width: 100%;
  min-height: 30rem;
  padding: 1.5rem;
  border: 1px solid var(--color-gray-700);
  border-radius: 1rem;

  background-color: var(--color-gray-750);
  box-shadow: 0 8px 24px -12px hsl(220deg 60% 2% / 60%);
}

.title {
  margin-bottom: 1rem;

  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  gap: 1rem;
  align-items: stretch;

  @media (width <= 980px) {
    grid-template-columns: repeat(2, minmax(10rem, 1fr));
  }

  @media (width <= 640px) {
    grid-template-columns: repeat(1, minmax(10rem, 1fr));
  }
}
