.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  max-height: 4rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: background-color var(--transition-default) var(--ease-in-cubic);

  &:disabled {
    opacity: var(--opacity-40);
    cursor: not-allowed;
  }

  &:focus-visible {
    outline: 2px solid var(--color-gray-400);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

.basic {
  color: var(--color-gray-800);
  background-color: var(--color-yellow-600);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--color-yellow-700);
    }
  }

  @media (hover: none) {
    &:active {
      background-color: var(--color-yellow-700);
    }
  }
}

.gray {
  color: var(--color-white);
  background-color: var(--color-gray-700);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--color-gray-750);
    }
  }

  @media (hover: none) {
    &:active {
      background-color: var(--color-gray-750);
    }
  }
}

.error {
  width: 12rem;
  height: 3rem;
  margin: 1.5rem 0 0 auto;
  float: right;
  background-color: var(--color-red-500);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--color-red-700);
    }
  }

  @media (hover: none) {
    &:active {
      background-color: var(--color-red-700);
    }
  }
}
