.detail-view {
  position: relative;

  overflow-y: auto;

  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 1rem;

  @media (width <= 560px) {
    padding: 0;
  }
}

.header {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 1rem;
}

.title {
  margin: 0;

  font-size: 1.5rem;
  font-weight: var(--font-weight-semibold);
  line-height: 1;
  text-align: center;

  @media (width <= 900px) {
    font-size: 1.25rem;
  }
}

.close-button {
  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 50%;

  font-size: 1.5rem;
  line-height: 1;

  background: none;

  transition: background-color var(--transition-default) var(--ease-in-cubic);

  &:hover {
    color: var(--accent-background);
  }

  &:active {
    color: var(--accent-background);
  }

  &:focus-visible {
    outline: 2px solid var(--text-muted);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

.loader-overlay {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
