@import './variables.css';
@import './reset.css';
@import './theme.css';

body {
  font-family: Inter, sans-serif;
  background-color: var(--background);
}

button {
  cursor: pointer;

  margin: 0;
  padding: 0;
  border: none;

  font: inherit;
  color: inherit;

  appearance: none;
  background: none;
}
