@import './variables.css';
@import './reset.css';
@import './theme.css';

body {
  font-family: Inter, sans-serif;
  background-color: var(--background);
}

button {
  appearance: none;
  padding: 0;
  background: none;
  border: none;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
