.home-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 1.5rem;

  font-size: 1.25rem;

  @media (width <= 550px) {
    padding: 0.5rem;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 100%;
  max-width: 18rem;
}

.title {
  color: var(--color-white);
  text-align: center;

  @media (width <= 550px) {
    font-size: 2rem;
  }
}
