.card {
  cursor: pointer;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 1rem;
  border: 1px solid var(--color-gray-700);
  border-radius: 1rem;

  font-size: 0.875rem;
  font-weight: var(--font-weight-normal);
  font-weight: 500;
  line-height: 1.25rem;
  color: var(--color-gray-400);

  background-color: var(--color-gray-750);
  box-shadow: 0 8px 24px -12px hsl(220deg 60% 2% / 60%);

  transition: all var(--transition-default) var(--ease-in-cubic);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: scale(1.025);
      border: 1px solid
        hsl(from var(--color-yellow-600) h s l / var(--opacity-50));
    }
  }

  @media (hover: none) {
    &:active {
      transform: scale(1.025);
      border: 1px solid
        hsl(from var(--color-yellow-600) h s l / var(--opacity-50));
    }
  }
}

.detailed {
  cursor: default;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: none;
      border: 1px solid var(--color-gray-700);
    }
  }

  @media (hover: none) {
    &:active {
      transform: none;
      border: 1px solid var(--color-gray-700);
    }
  }
}

.card-options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.name {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--color-white);
  letter-spacing: -0.025em;
}

.params-list {
  word-break: normal;
  overflow-wrap: break-word;
  white-space: normal;
}

.card-option {
  display: flex;
  flex-flow: column wrap;
  gap: 0.125rem;
}

.inline {
  flex-direction: row;
  gap: 0.25rem;
}

.image-container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1 / 1;
  margin-bottom: 0.75rem;
  padding: 1rem;
  border-radius: 0.75rem;

  background-color: hsl(from var(--color-gray-700) h s l / var(--opacity-40));
}

.image {
  position: relative;
  width: 100%;
}

.card-id {
  pointer-events: none;

  position: absolute;
  top: 0.5rem;
  left: 1rem;

  font-size: 0.75rem;
  font-weight: 700;
}

.params-label {
  font-weight: var(--font-weight-bold);
}
