.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  text-align: center;
}

.text {
  font-size: 1rem;
  color: var(--color-gray-400);
}

.button-container {
  height: 2.75rem;
}
