.header {
  position: sticky;
  z-index: 1000;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 4rem;
  padding: 1.25rem 1.5rem;
  border-bottom: 1px solid var(--color-gray-700);

  color: var(--color-white);

  background: var(--color-gray-800);

  @media (width <= 768px) {
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;

    height: auto;

    text-align: center;
  }
}

.logo {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
}

.logo span {
  color: var(--color-yellow-600);
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}

.link {
  font-size: 1rem;
  font-weight: var(--font-weight-semibold);
  line-height: 1.25rem;
  color: var(--color-gray-400);
  text-decoration: none;

  transition: color var(--transition-default) var(--ease-in-cubic);
}

.active {
  color: var(--color-yellow-600);
}

.skip-link {
  position: absolute;
  top: 0;
  left: -9999px;
}

.skip-link:focus {
  position: relative;
  z-index: 1000;
  top: 0;
  left: 0;

  width: auto;
  height: auto;
  padding: 0.75rem 1rem;

  color: var(--color-gray-400);
  text-decoration: none;
}
