.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 1.5rem;
  color: var(--text-basic);
  background: var(----background);
  border-bottom: 1px solid var(--color-gray-700);

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.75rem;
    height: auto;
  }
}

.logo {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
}

.logo span {
  color: var(--color-yellow-600);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
}

.link {
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--color-gray-400);
  font-weight: var(--font-weight-semibold);
  text-decoration: none;
  transition: color var(--transition-default) var(--ease-in-cubic);
}

.active {
  color: var(--color-yellow-600);
}

.skip-link {
  position: absolute;
  left: -9999px;
  top: 0;
}

.skip-link:focus {
  position: relative;
  left: 0;
  top: 0;
  z-index: 1000;
  width: auto;
  height: auto;
  padding: 0.75rem 1rem;
  color: var(--color-gray-400);
  text-decoration: none;
}
