.password-indicator {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;

  font-size: 0.825rem;

  background-color: var(--color-white);
}

.rule {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  margin-bottom: 0.1rem;
}

.rule:last-child {
  margin-bottom: 0;
}

.icon {
  width: 1rem;
  font-size: 0.825rem;
  text-align: center;
}

.invalid .icon,
.invalid .label {
  color: var(--color-red-500);
}

.valid .icon,
.valid .label {
  color: var(--color-green-500);
}
